<div class="card mb-5">
  <h2 class="card-header text-center bg-warning  bg-gradient">Grocary</h2>
</div>

<div class="bg-info">
  <table class="table  text-center">
    <thead class=" ">
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Image URL</th>
        
      </tr>
    </thead>
    <tbody class="table bg-warning ">

      <tr *ngFor="let item of listData">
        <td><span>{{listData}}</span></td>
        <td><span>{{listData}}</span></td>
        <td><span>{{listData}}</span></td>

        
          
      </tr>

    </tbody>
  </table>
</div>